<div data-role="page">

  <div data-role="header">header 1</div>
  <div id="contentWithHeaderAndFooter1" data-role="content">contentWithHeaderAndFooter1</div>
  <div data-role="footer">fooder 1</div>

  <div data-role="header">header 2</div>
  <div id="contentWithHeaderAndFooter2" data-role="content">contentWithHeaderAndFooter2</div>
  <div data-role="footer">fooder 2</div>

  <div id="contentWithNoHeaderAndFooter" data-role="content">contentWithNoHeaderAndFoote</div> 

</div>

