<div data-role="page">
<% content_for :header do -%>
	<%= configatron.site_name %> Administration
<% end -%>
</div>
<div data-role="page">
<h3>You are logged in as an Administrator, you are now viewing the Administration dashboard.</h3>
</div>

